body { background: #121212; }
h1 { color: #EEE }
p { color: #888 }
h2.daysep { margin-top:0.8em; 
  font-family: "Segoe Script",
    "Comic Sans MS",
    "Calkboard"; 
  color: #aaa
}
@-moz-keyframes blink {
  0% { opacity: 0.1 }
  100% { opacity: 0.4 }
}
@-ms-keyframes blink {
  0% { opacity: 0.1 }
  100% { opacity: 0.4 }
}
@-webkit-keyframes blink {
  0% { opacity: 0.1 }
  100% { opacity: 0.4 }
}
@-o-keyframes blink {
  0% { opacity: 0.1 }
  100% { opacity: 0.4 }
}
@keyframes blink {
  0% { opacity: 0.1 }
  100% { opacity: 0.4 }
}
.calender { width:100%; }
.checked { 
  opacity: 0.8 !important; 
  -webkit-filter: drop-shadow(0px 0px 10px red);
  -ms-filter: drop-shadow(0px 0px 10px red);
  -moz-filter: drop-shadow(0px 0px 10px red);
  -o-filter: drop-shadow(0px 0px 10px red);
  filter: drop-shadow(0px 0px 10px red);
}
.incomplete { opacity: 0.2 }

.pending {
  -moz-animation: blink 500ms infinite both alternate;
  -ms-animation: blink 500ms infinite both alternate;
  -webkit-animation: blink 500ms infinite both alternate;
  -o-animation: blink 500ms infinite both alternate;
  animation: blink 500ms infinite both alternate;
}


#loader {
  position: fixed;
  top: 45%;
  -moz-animation: blink 500ms infinite both alternate;
  -ms-animation: blink 500ms infinite both alternate;
  -webkit-animation: blink 500ms infinite both alternate;
  -o-animation: blink 500ms infinite both alternate;
  animation: blink 500ms infinite both alternate;
}
